*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
color: white;
display: block;
margin: auto;
text-decoration: none;
text-align: center;
padding: 10px;
width: 100px;
background-color: rgb(73, 159, 234);
border-radius: 15px;
font-weight: bold;
}
a:hover{
transform: scale(1.1);
transition: transform 0.3s, border 1s;
}
img{
    width: 100vw;
    
   }
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}